# Kaggle Contest - Dog Breed Identification

Determine the breed of a dog in an image.

数据集特性

- 来自 Stanford Dog Dataset, 本身也是 ImageNet DataSet 的子集。http://vision.stanford.edu/aditya86/ImageNetDogs/

- 训练集10222张图片，测试集10357张图片。

- 图片包含具有120种品种的狗。

In [1]:
import os
import sys
import cv2
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from time import time
from tqdm import tqdm

## 1. 导入训练集数据

#### 具体流程
- 导入训练集图像文件名及其品种
- 导入图像
- 获得数据集的分布信息
    - 训练集10222，测试集10357
    - 分类一共120种
    - 每个品种最多有126张图片，最少有66张图片
    - 平均每一个品种有85张图片

In [5]:
train_name = os.listdir('./train')
test_name = os.listdir('./test')
print("Train: %d, Test: %d" % (len(train_name), len(test_name)))

Train: 10222, Test: 10357

In [14]:
labels = pd.read_csv('labels.csv')
labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [15]:
breeds = set(labels['breed'])
print("Total Dog Breeds:", len(breeds))

Total Dog Breeds: 120

In [28]:
# 建立双向映射
id2breed = {}
breed2id = {}
for _, row in labels.iterrows():
    idx, breed = row['id'], row['breed']
    id2breed[idx] = breed
    if breed not in breed2id:
        breed2id[breed] = []
    breed2id[breed].append(idx)

In [36]:
count = [len(breed2id[x]) for x in breeds]
min(count), max(count), np.average(count)

(66, 126, 85.183333333333337)